### 1. Convert an integer to a floating-point number.

In [6]:
a = 12
type(a)

int

In [13]:
b = float(a)
b

12.0

In [14]:
type(b)

float

### 2. Convert a float to an integer.

In [15]:
f = 54.32
type(f)

float

In [16]:
i = int(f)
type(i)

int

In [20]:
i

54

### 3. Convert an integer to a string.

In [17]:
c = 49
type(c)

int

In [19]:
d = str(c)
d

'49'

In [21]:
type(d)

str

### 4. Convert a list to a tuple.

In [22]:
l = [98,65.12,'Apple',True]
type(l)

list

In [23]:
l

[98, 65.12, 'Apple', True]

In [25]:
m = tuple(l)
m

(98, 65.12, 'Apple', True)

In [26]:
type(m)

tuple

### 5. Convert a tuple to a list.

In [29]:
t = (12.01,28,'Orange',False)
type(t)

tuple

In [28]:
t

(12.01, 28, 'Orange', False)

In [31]:
k = list(t)
k

[12.01, 28, 'Orange', False]

In [32]:
type(k)

list

### 6. Convert a decimal number to binary.

In [34]:
d = 25
bin(d)

'0b11001'

### 7.  Convert a non-zero number to boolean.

In [35]:
g = 49
type(g)

int

In [37]:
h = bool(g)
h

True

In [38]:
type(h)

bool